<div id="modal-insert-bottle" class="modal">
  <div class="modal-card">
    <div class="title">Insert Plastic Bottle</div>

    <div class="timer-bar-wrap">
      <div class="timer-bar-bg">
        <div class="timer-bar-fill" id="bottle-progress"></div>
        <div class="timer-bar-label" id="bottle-countdown">0 min. 05 sec.</div>
      </div>
    </div>

    <div class="meta-group">
      <div class="meta-row">
        <div class="meta-label">
          <img src="/static/svg/bottle.svg" alt="Bottle" class="meta-icon" id="bottle-icon">
          <span>Bottles inserted:&nbsp;</span>
        </div>
        <div class="value" id="bottle-count">0</div>
      </div>
      <div class="meta-column">
        <div class="meta-label">
          <img src="/static/svg/clock.svg" alt="Wi-Fi" class="meta-icon" id="clock-icon">
          <span>Wi‑Fi Time Earned:&nbsp;</span>
        </div>
        <div class="value" id="time-earned">0 minutes</div>
      </div>
    </div>

    <button class="btn done-btn modal-close">Done</button>
  </div>
</div>
